<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TarkovMapOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TarkovMapOverlay.Properties.Settings>
            <setting name="windowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="visual_opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="visual_transparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentMapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="customMapList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>""</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="minimizeWithMouseButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeKey" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="minimizeMousebutton" serializeAs="String">
                <value>None</value>
            </setting>
        </TarkovMapOverlay.Properties.Settings>
    </userSettings>
</configuration>